<h1>Análisis exploratorio</h1>

In [2]:
#Imports

import numpy as np
import pandas as pd

In [3]:
#Cargar csv de personal population

personal_Victimization_Original = pd.read_csv("../../data/personal_victimization_Original.csv")

In [4]:
personal_Victimization_Original

,idper,yearq,year,ager,sex,hispanic,race,race_ethnicity,hincome1,hincome2,...,weapcat,injury,serious,treatment,offenderage,offendersex,offtracenew,wgtviccy,series,newwgt
0,150102759544999999999913501,1993.1,1993,6,2,2,1,1,4,-1,...,5.0,0,1,0.0,3,1,-1,8442.414110,1,8442.414110
1,150123750403999999999911602,1993.1,1993,4,2,2,1,1,4,-1,...,0.0,0,1,0.0,1,1,-1,5158.885110,1,5158.885110
2,150166998771999999999913502,1993.1,1993,3,2,2,2,2,2,-1,...,0.0,1,3,1.0,2,1,-1,3006.106210,1,3006.106210
3,150283624848999999999931601,1993.1,1993,2,1,2,1,1,6,-1,...,0.0,0,1,0.0,3,1,-1,4533.877240,1,4533.877240
4,150283624848999999999931601,1993.1,1993,2,1,2,1,1,6,-1,...,0.0,0,1,0.0,3,1,-1,4533.877240,1,4533.877240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68847,237539391552393556449226701,2024.4,2024,5,2,2,2,2,5,2,...,0.0,1,3,2.0,4,1,2,3160.713834,1,3160.713834
68848,237539391552393556449226701,2024.4,2024,5,2,2,2,2,5,2,...,0.0,1,3,2.0,4,1,2,3160.713834,1,3160.713834
68849,238111680302502456385814101,2024.4,2024,6,1,2,1,1,7,4,...,0.0,0,1,0.0,98,4,7,3274.183681,1,3274.183681
68850,238114411552144656448414701,2024.4,2024,5,1,2,1,1,2,1,...,0.0,0,1,0.0,98,1,2,7486.293953,1,7486.293953
68851,238176166539799856450315102,2024.4,2024,4,1,2,1,1,7,4,...,0.0,0,1,0.0,98,1,7,2680.586730,1,2680.586730

In [5]:
personal_Victimization_Original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68852 entries, 0 to 68851
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idper           68852 non-null  object
 1   yearq           68852 non-null  float64
 2   year            68852 non-null  int64
 3   ager            68852 non-null  int64
 4   sex             68852 non-null  int64
 5   hispanic        68852 non-null  int64
 6   race            68852 non-null  int64
 7   race_ethnicity  68852 non-null  int64
 8   hincome1        68852 non-null  int64
 9   hincome2        68852 non-null  int64
 10  marital         68852 non-null  int64
 11  popsize         68852 non-null  int64
 12  region          68852 non-null  int64
 13  msa             68852 non-null  int64
 14  locality        68852 non-null  int64
 15  educatn1        68852 non-null  int64
 16  educatn2        68852 non-null  int64
 17  veteran         68852 non-null  int64
 18  citizen         68852 non-null  int64
 19  newcrime        68852 non-null  int64
 20  newoff          68852 non-null  int64
 21  seriousviolent  68852 non-null  int64
 22  notify          68852 non-null  int64
 23  vicservices     68852 non-null  int64
 24  locationr       68852 non-null  int64
 25  direl           68852 non-null  int64
 26  weapon          68852 non-null  int64
 27  weapcat         68850 non-null  float64
 28  injury          68852 non-null  int64
 29  serious         68852 non-null  int64
 30  treatment       68848 non-null  float64
 31  offenderage     68852 non-null  int64
 32  offendersex     68852 non-null  int64
 33  offtracenew     68852 non-null  int64
 34  wgtviccy        68852 non-null  float64
 35  series          68852 non-null  int64
 36  newwgt          68852 non-null  float64
dtypes: float64(5), int64(31), object(1)
memory usage: 19.4+ MB

In [6]:
personal_Victimization_Original.describe()

,yearq,year,ager,sex,hispanic,race,race_ethnicity,hincome1,hincome2,marital,...,weapcat,injury,serious,treatment,offenderage,offendersex,offtracenew,wgtviccy,series,newwgt
count,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,...,68850.000000,68852.000000,68852.000000,68848.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000,68852.000000
mean,2006.284805,2006.034538,3.120839,1.486115,2.428935,1.317827,1.930242,14.225266,-0.199442,2.343505,...,0.949020,0.247139,1.563905,0.348420,14.126169,3.018169,0.436995,2885.870160,1.046317,3830.068587
std,9.986822,9.986845,1.437391,0.499811,7.313447,0.810366,1.736008,28.823806,1.578177,6.206910,...,1.626316,0.859261,3.274605,0.759963,30.035254,12.521740,2.614992,1459.322740,0.210172,5249.024972
min,1993.100000,1993.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,-1.000000,59.821060,1.000000,59.821060
25%,1997.100000,1997.000000,2.000000,1.000000,2.000000,1.000000,1.000000,3.000000,-1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,3.000000,1.000000,-1.000000,2152.801388,1.000000,2180.205528
50%,2004.300000,2004.000000,3.000000,1.000000,2.000000,1.000000,1.000000,5.000000,-1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,4.000000,1.000000,-1.000000,2618.019655,1.000000,2683.728375
75%,2016.200000,2016.000000,4.000000,2.000000,2.000000,1.000000,2.000000,7.000000,-1.000000,2.000000,...,1.000000,0.000000,1.000000,0.000000,4.000000,2.000000,1.000000,3393.338645,1.000000,3580.556630
max,2024.400000,2024.000000,6.000000,2.000000,98.000000,5.000000,6.000000,98.000000,5.000000,98.000000,...,5.000000,98.000000,98.000000,98.000000,98.000000,98.000000,11.000000,37972.447130,2.000000,153486.647700

<h3>Mapeo de datos</h3>

Con este pequeño análisis nos dimos cuenta que nuestro dataframe viene mapeado de tal manera que nos dificulta poder analizar apropiadamente, ademas de que preferimos hacer nosotros segun consideremos mas adelante la adecuada transformacion de los datos, ya sea con One-hot-enconding o con label-encoding.

Por esto decidimos mapear los datos segun nos indicaba la pagina de donde obtuvimos los datos, con ayuda del code_book.

In [7]:
#Mapear

personal_Victimization_Original['ager'] = personal_Victimization_Original['ager'].map({1: '12-17',2: '18-24',3: '25-34',4: '35-49',5: '50-64',6: '65+'})
# SEX
personal_Victimization_Original['sex'] = personal_Victimization_Original['sex'].map({1: 'Male',2: 'Female'})

# HISPANIC ORIGIN
personal_Victimization_Original['hispanic'] = personal_Victimization_Original['hispanic'].map({1: 'Hispanic',2: 'Non-Hispanic',98: 'Residue'})

# RACE
personal_Victimization_Original['race'] = personal_Victimization_Original['race'].map({1: 'White',2: 'Black',3: 'American Indian/Alaska Native',4: 'Asian/Native Hawaiian/Other Pacific Islander',5: 'More than one race'})

# RACE/ETHNICITY
personal_Victimization_Original['race_ethnicity'] = personal_Victimization_Original['race_ethnicity'].map({
    1: 'Non-Hispanic white',
    2: 'Non-Hispanic black',
    3: 'Non-Hispanic American Indian/Alaska Native',
    4: 'Non-Hispanic Asian/Native Hawaiian/Other Pacific Islander',
    5: 'Non-Hispanic more than one race',
    6: 'Hispanic'
})

# HOUSEHOLD INCOME
personal_Victimization_Original['hincome1'] = personal_Victimization_Original['hincome1'].map({
    1: 'Less than $7,500',
    2: '$7,500 to $14,999',
    3: '$15,000 to $24,999',
    4: '$25,000 to $34,999',
    5: '$35,000 to $49,999',
    6: '$50,000 to $74,999',
    7: '$75,000 or more',
    98: 'Residue'
})

# IMPUTED INCOME
personal_Victimization_Original['hincome2'] = personal_Victimization_Original['hincome2'].map({
    -1: 'Invalid until 2017 Q1',
    1: 'Less than $25,000',
    2: '$25,000 to $49,999',
    3: '$50,000 to $99,999',
    4: '$100,000 to $199,999',
    5: '$200,000 or more'
})

# MARITAL STATUS
personal_Victimization_Original['marital'] = personal_Victimization_Original['marital'].map({
    1: 'Never married',
    2: 'Married',
    3: 'Widowed',
    4: 'Divorced',
    5: 'Separated',
    98: 'Residue'
})

# POPULATION SIZE
personal_Victimization_Original['popsize'] = personal_Victimization_Original['popsize'].map({
    -1: 'Invalid until 1995 Q3',
    0: 'Not a place',
    1: 'Under 100,000',
    2: '100,000–249,999',
    3: '250,000–499,999',
    4: '500,000–999,999',
    5: '1 million or more'
})

# REGION
personal_Victimization_Original['region'] = personal_Victimization_Original['region'].map({
    -1: 'Invalid until 1995 Q3',
    1: 'Northeast',
    2: 'Midwest',
    3: 'South',
    4: 'West'
})

# LOCATION / MSA
personal_Victimization_Original['msa'] = personal_Victimization_Original['msa'].map({
    1: 'Principal city within MSA',
    2: 'Not part of principal city within MSA',
    3: 'Outside MSA'
})


# LOCALITY
personal_Victimization_Original['locality'] = personal_Victimization_Original['locality'].map({
    -1: 'Invalid until 2020 Q1',
    1: 'Urban',
    2: 'Suburban',
    3: 'Rural'
})

# EDUCATION LEVEL (older version)
personal_Victimization_Original['educatn1'] = personal_Victimization_Original['educatn1'].map({
    1: 'No schooling',
    2: 'Grade school',
    3: 'Middle school',
    4: 'High school',
    5: 'College',
    98: 'Residue'
})

# EDUCATION LEVEL (newer version)
personal_Victimization_Original['educatn2'] = personal_Victimization_Original['educatn2'].map({
    -1: 'Invalid until 2003 Q1',
    1: 'No schooling',
    2: 'Grade school',
    3: 'Middle school',
    4: 'Some high school',
    5: 'High school graduate',
    6: 'Some college/associate degree',
    7: 'Bachelor’s degree',
    8: 'Advanced degree',
    98: 'Residue'
})

# VETERAN STATUS
personal_Victimization_Original['veteran'] = personal_Victimization_Original['veteran'].map({
    -2: 'Invalid until 2017 Q1',
    -1: 'Under age 18',
    0: 'Not a veteran',
    1: 'Veteran',
    98: 'Residue'
})

# CITIZENSHIP STATUS
personal_Victimization_Original['citizen'] = personal_Victimization_Original['citizen'].map({
    -1: 'Invalid until 2017 Q1',
    1: 'Born U.S. citizen',
    2: 'Naturalized citizen',
    3: 'Non-U.S. citizen',
    98: 'Residue'
})

# AGGREGATE TYPE OF CRIME
personal_Victimization_Original['newcrime'] = personal_Victimization_Original['newcrime'].map({
    1: 'Violent crime',
    2: 'Personal theft/larceny'
})

# TYPE OF CRIME
personal_Victimization_Original['newoff'] = personal_Victimization_Original['newoff'].map({
    1: 'Rape/sexual assault',
    2: 'Robbery',
    3: 'Aggravated assault',
    4: 'Simple assault',
    5: 'Personal theft/larceny'
})


# SERIOUS VIOLENT CRIME CATEGORY
personal_Victimization_Original['seriousviolent'] = personal_Victimization_Original['seriousviolent'].map({
    1: 'Violent crime excluding simple assault',
    2: 'Simple assault',
    3: 'Personal theft/larceny'
})

# REPORTED TO POLICE
personal_Victimization_Original['notify'] = personal_Victimization_Original['notify'].map({
    1: 'Yes',
    2: 'No',
    3: 'Do not know',
    98: 'Residue'
})


# VICTIM SERVICES
personal_Victimization_Original['vicservices'] = personal_Victimization_Original['vicservices'].map({
    1: 'Yes',
    2: 'No',
    3: 'Do not know',
    98: 'Residue'
})

# LOCATION OF CRIME
personal_Victimization_Original['locationr'] = personal_Victimization_Original['locationr'].map({
    1: 'At or near victim’s home',
    2: 'At or near friend’s/neighbor’s/relative’s home',
    3: 'Commercial place, parking lot, or other public area',
    4: 'School',
    5: 'Other location'
})


# VICTIM-OFFENDER RELATIONSHIP
personal_Victimization_Original['direl'] = personal_Victimization_Original['direl'].map({
    1: 'Intimates',
    2: 'Other relatives',
    3: 'Well known/casual acquaintance',
    4: 'Strangers',
    5: 'Do not know relationship',
    6: 'Do not know number of offenders'
})

# WEAPON PRESENCE
personal_Victimization_Original['weapon'] = personal_Victimization_Original['weapon'].map({
    1: 'Yes',
    2: 'No',
    3: 'Do not know if offender had weapon'
})


# WEAPON CATEGORY
personal_Victimization_Original['weapcat'] = personal_Victimization_Original['weapcat'].map({
    0: 'No weapon',
    1: 'Firearm',
    2: 'Knife',
    3: 'Other type weapon',
    4: 'Type weapon unknown',
    5: 'Do not know if offender had weapon'
})


# INJURY
personal_Victimization_Original['injury'] = personal_Victimization_Original['injury'].map({
    0: 'Not injured',
    1: 'Injured'
})

# TYPE OF INJURY
personal_Victimization_Original['serious'] = personal_Victimization_Original['serious'].map({
    1: 'No injury',
    2: 'Serious injury',
    3: 'Minor injury',
    4: 'Rape w/o other injuries',
    98: 'Residue'
})

# MEDICAL TREATMENT
personal_Victimization_Original['treatment'] = personal_Victimization_Original['treatment'].map({
    0: 'Not injured',
    1: 'Not treated',
    2: 'Treated (scene/home/office/other)',
    3: 'Do not know',
    98: 'Residue'
})

# OFFENDER AGE
personal_Victimization_Original['offenderage'] = personal_Victimization_Original['offenderage'].map({
    1: '11 or younger',
    2: '12–17',
    3: '18–29',
    4: '30 or older',
    5: 'Multiple offenders of various ages',
    98: 'Residue'
})


# OFFENDER SEX
personal_Victimization_Original['offendersex'] = personal_Victimization_Original['offendersex'].map({
    1: 'Male',
    2: 'Female',
    3: 'Both male and female offenders',
    4: 'Unknown',
    98: 'Residue'
})

# OFFENDER RACE/HISPANIC ORIGIN
personal_Victimization_Original['offtracenew'] = personal_Victimization_Original['offtracenew'].map({
    -1: 'Invalid until 2012 Q1',
    1: 'Non-Hispanic white',
    2: 'Non-Hispanic black',
    3: 'Non-Hispanic American Indian/Alaska Native',
    4: 'Non-Hispanic Asian/Native Hawaiian/Other Pacific Islander',
    5: 'Non-Hispanic more than one race',
    6: 'Hispanic',
    7: 'Unknown race/Hispanic origin',
    10: 'Mixed race group of offenders',
    11: 'Unknown number of offenders'
})

# SERIES (CRIME TYPE)
personal_Victimization_Original['series'] = personal_Victimization_Original['series'].map({
    1: 'Not a series crime',
    2: 'Series crime'
})

<h3>Analizar valores nulos</h3>

In [8]:
personal_Victimization_Original.isnull().sum()

idper             0
yearq             0
year              0
ager              0
sex               0
hispanic          0
race              0
race_ethnicity    0
hincome1          0
hincome2          0
marital           0
popsize           0
region            0
msa               0
locality          0
educatn1          0
educatn2          0
veteran           0
citizen           0
newcrime          0
newoff            0
seriousviolent    0
notify            0
vicservices       0
locationr         0
direl             0
weapon            0
weapcat           2
injury            4
serious           0
treatment         4
offenderage       0
offendersex       0
offtracenew       0
wgtviccy          0
series            0
newwgt            0
dtype: int64

No se han encontrado valores nulos en nuestro dataset

<h3>Analizar duplicados</h3>

In [9]:
duplicados = personal_Victimization_Original.duplicated()  
print(duplicados.value_counts())  

# Para ver las filas duplicadas
print(personal_Victimization_Original[personal_Victimization_Original.duplicated()])

False    65511
True      3341
Name: count, dtype: int64
                             idper   yearq  year   ager     sex      hispanic  \
4      150283624848999999999931601  1993.1  1993  18-24    Male  Non-Hispanic
15     150750225042999999999912603  1993.1  1993  12-17    Male  Non-Hispanic
112    155675343309999999999921601  1993.1  1993  35-49    Male  Non-Hispanic
118    155957196362999999999913603  1993.1  1993  18-24    Male  Non-Hispanic
175    160121023442999999999923103  1993.1  1993  25-34    Male  Non-Hispanic
...                            ...     ...   ...    ...     ...           ...
68814  235024359239246756322516103  2024.4  2024  25-34    Male      Hispanic
68820  235067198435623956360816101  2024.4  2024  25-34  Female  Non-Hispanic
68840  236495160849721556440316704  2024.4  2024  12-17    Male  Non-Hispanic
68847  237539391552393556449226701  2024.4  2024  50-64  Female  Non-Hispanic
68848  237539391552393556449226701  2024.4  2024  50-64  Female  Non-Hispanic

                                               race  \
4                                             White
15                                            White
112                                           Black
118                                           White
175                                           White
...                                             ...
68814                                         White
68820  Asian/Native Hawaiian/Other Pacific Islander
68840                                         White
68847                                         Black
68848                                         Black

                                          race_ethnicity            hincome1  \
4                                     Non-Hispanic white  $50,000 to $74,999
15                                    Non-Hispanic white  $15,000 to $24,999
112                                   Non-Hispanic black  $25,000 to $34,999
118                                   Non-Hispanic white  $50,000 to $74,999
175                                   Non-Hispanic white  $25,000 to $34,999
...                                                  ...                 ...
68814                                           Hispanic     $75,000 or more
68820  Non-Hispanic Asian/Native Hawaiian/Other Pacif...  $35,000 to $49,999
68840                                 Non-Hispanic white     $75,000 or more
68847                                 Non-Hispanic black  $35,000 to $49,999
68848                                 Non-Hispanic black  $35,000 to $49,999

                    hincome2  ...                             weapcat  \
4      Invalid until 2017 Q1  ...                           No weapon
15     Invalid until 2017 Q1  ...                           No weapon
112    Invalid until 2017 Q1  ...                           No weapon
118    Invalid until 2017 Q1  ...                           No weapon
175    Invalid until 2017 Q1  ...                           No weapon
...                      ...  ...                                 ...
68814     $50,000 to $99,999  ...                           No weapon
68820     $25,000 to $49,999  ...  Do not know if offender had weapon
68840   $100,000 to $199,999  ...                           No weapon
68847     $25,000 to $49,999  ...                           No weapon
68848     $25,000 to $49,999  ...                           No weapon

            injury       serious                          treatment  \
4      Not injured     No injury                        Not injured
15     Not injured     No injury                        Not injured
112    Not injured     No injury                        Not injured
118    Not injured     No injury                        Not injured
175    Not injured     No injury                        Not injured
...            ...           ...                                ...
68814  Not injured     No injury                        Not injured
68820  Not injured     No injury                        Not injured
68840  Not injured     No injury                        Not injured
68847      Injured  Minor injury  Treated (scene/home/office/other)
68848      Injured  Minor injury  Treated (scene/home/office/other)

       offenderage offendersex  \
4            18–29        Male
15           12–17        Male
112          18–29        Male
118    30 or older        Male
175    30 or older        Male
...            ...         ...
68814  30 or older        Male
68820  30 or older        Male
68840        12–17        Male
68847  30 or older        Male
68848  30 or older        Male

                                             offtracenew     wgtviccy  \
4                                  Invalid until 2012 Q1  4533.877240
15                                 Invalid until 2012 Q1  3700.636160
112                                Invalid until 2012 Q1  9892.745290
118                                Invalid until 2012 Q1  5443.706070
175                                Invalid until 2012 Q1  4250.032880
...                                                  ...          ...
68814                       Unknown race/Hispanic origin  1594.981610
68820  Non-Hispanic Asian/Native Hawaiian/Other Pacif...  1475.367196
68840                                 Non-Hispanic white  4863.494406
68847                                 Non-Hispanic black  3160.713834
68848                                 Non-Hispanic black  3160.713834

                   series       newwgt
4      Not a series crime  4533.877240
15     Not a series crime  3700.636160
112    Not a series crime  9892.745290
118    Not a series crime  5443.706070
175    Not a series crime  4250.032880
...                   ...          ...
68814  Not a series crime  1594.981610
68820        Series crime  8852.203174
68840  Not a series crime  4863.494406
68847  Not a series crime  3160.713834
68848  Not a series crime  3160.713834

[3341 rows x 37 columns]

Que significa esta vaina no lo che

<h3>Analizar outliers + boxplot (1 visualizacion /3)</h3>

¿Qué se observa? ¿Cómo impacta al modelo?

<h3>Analizar correlaciones +  matriz de correlaciones (2 visualización /3)</h3>

¿Qué se observa? ¿Cómo impacta al modelo?

<h3>Histograma u otro (3 visualización /3)</h3>

¿Qué se observa? ¿Cómo impacta al modelo?