<h1>Limpieza de datos</h1>
Justificar cada apartado

In [91]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [92]:
#Cargar csv de personal population

personal_Victimization_mapped = pd.read_csv("../../data/personal_victimization_mapped.csv")

In [93]:
personal_Victimization_mapped

,ager,sex,race_ethnicity,hincome1,marital,popsize,region,msa,educatn1,veteran,citizen,newoff,locationr,year,trimestre
0,18-24,Female,Non-Hispanic black,"$35,000 to $49,999",Married,1 million or more,Midwest,Principal city within MSA,High school,Residue,Residue,Aggravated assault,At or near victim’s home,1996,1
1,35-49,Male,Hispanic,"$75,000 or more",Married,"Under 100,000",West,Not part of principal city within MSA,College,Residue,Residue,Simple assault,Other location,1996,1
2,12-17,Male,Non-Hispanic white,"$35,000 to $49,999",Never married,"500,000–999,999",West,Principal city within MSA,Middle school,Residue,Residue,Simple assault,At or near friend’s/neighbor’s/relative’s home,1996,1
3,12-17,Male,Non-Hispanic white,Residue,Never married,Not a place,West,Outside MSA,High school,Residue,Residue,Simple assault,At or near friend’s/neighbor’s/relative’s home,1996,1
4,12-17,Male,Non-Hispanic white,"$50,000 to $74,999",Never married,"Under 100,000",West,Not part of principal city within MSA,Middle school,Residue,Residue,Aggravated assault,At or near victim’s home,1996,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55873,50-64,Female,Non-Hispanic black,"$35,000 to $49,999",Separated,"Under 100,000",South,Not part of principal city within MSA,High school,Not a veteran,Born U.S. citizen,Simple assault,At or near victim’s home,2024,4
55874,50-64,Female,Non-Hispanic black,"$35,000 to $49,999",Separated,"Under 100,000",South,Not part of principal city within MSA,High school,Not a veteran,Born U.S. citizen,Simple assault,At or near victim’s home,2024,4
55875,65+,Male,Non-Hispanic white,"$75,000 or more",Married,"500,000–999,999",West,Principal city within MSA,High school,Veteran,Born U.S. citizen,Simple assault,At or near victim’s home,2024,4
55876,50-64,Male,Non-Hispanic white,"$7,500 to $14,999",Never married,"Under 100,000",West,Not part of principal city within MSA,High school,Not a veteran,Born U.S. citizen,Simple assault,"Commercial place, parking lot, or other public...",2024,4
55877,35-49,Male,Non-Hispanic white,"$75,000 or more",Married,"100,000–249,999",Midwest,Principal city within MSA,College,Not a veteran,Born U.S. citizen,Simple assault,"Commercial place, parking lot, or other public...",2024,4

In [94]:
#SEPARAR LAS X DE LA Y
y = personal_Victimization_mapped["newoff"]
x = personal_Victimization_mapped.drop(columns=["newoff"])

In [95]:
y.value_counts()

newoff
Simple assault            34813
Aggravated assault        10575
Robbery                    5793
Rape/sexual assault        3050
Personal theft/larceny     1647
Name: count, dtype: int64

Tenemos 5 posibles valores en Y, y como observamos la cantidad de datos no está proporcionada, por esto a la hora de dividir en Train y Test vamos a usar 'stratify = y'

<h3>Enconding de categóricas</h3>

<h3> Separar los  datos en Train y Test </h3>

Se utilizó train test split con una semilla de 42, dejando la misma proporcion de 'y' en test y train y se dividio el conjunto en un 80 para train y 20 para test

In [67]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
print(f"\n Datos de entrenamiento: {len(x_train)} crimenes ({len(x_train)/len(personal_Victimization_mapped)*100:.1f}%)")
print(f" Datos de prueba: {len(x_test)} crimenes ({len(x_test)/len(personal_Victimization_mapped)*100:.1f}%)")

 Datos de entrenamiento: 55081 crimenes (80.0%)
 Datos de prueba: 13771 crimenes (20.0%)

<h3>Escalado</h3>

In [69]:
# Escalado de los datos
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# Convertir a DataFrame, manteniendo los nombres de las columnas originales
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

<h3>Guardar datos</h3>

In [70]:
# Guardar x_train, x_test, y_train, y_test en CSV sin escalar para el arbol de desicion y el random forest
x_train.to_csv("../../data/x_train.csv", index=False)
x_test.to_csv("../../data/x_test.csv", index=False)
y_train.to_csv("../../data/y_train.csv", index=False)
y_test.to_csv("../../data/y_test.csv", index=False)

In [71]:
# Guardar x_train, x_test, y_train, y_test en CSV escalados para la regresion logistica y la red neuronal

x_train_scaled.to_csv("../../data/x_train_scaled.csv", index=False)
x_test_scaled.to_csv("../../data/x_test_scaled.csv", index=False)